{% extends "../blank.html" %}

{% block breadcrumbs %}
        Настройки > Справочники
{% endblock %}

{% block title %}

        Справочники

{% endblock %}

{% block content %}

<header>
    <h4>
        <i class="fa fa-file-alt"></i>
    </h4>

    <section class="widget">
        <div class="btn-group">
            <a href="/settings/references/add/" class="jsForm btn btn-primary">Добавить справочник</a>
        </div>

    </section>

</header>

{% include "../../include/layout/table.html" with url="/settings/references/grid/" %}

{% endblock %}