{% extends "../main.html" %}

{% block breadcrumbs %}
О программе
{% endblock %}

{% block title %}

О программе

{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <section class="widget">
            <div class="body no-margin">

                <div class="row">
                    <div class="col-sm-6"
                    <h3>Weasel engine</h3>

                        <ul>
                            Что можно делать:
                            <li>Домашний бюджет</li>
                            <li>Бюджетирование для малого бизнеса</li>
                            <li>Формирование заявок для участия в тендерах</li>
                        </ul>
                    Вот что можно делать в системе
                    </div>
                </div>

                <hr>

            </div>
        </section>
    </div>

</div>

{% endblock %}