<nav id="sidebar" class="sidebar nav-collapse collapse">
    <ul id="side-nav" class="side-nav">
        <li>
            <a href="/"><i class="fa fa-home"></i> <span class="name">Главная</span></a>
        </li>
        <li class="panel">
            <a class="accordion-toggle collapsed" data-toggle="collapse"
               data-parent="#side-nav" href="index.html#forms-collapse"><i class="fa fa-bar-chart-o"></i> <span class="name">Бюджет</span></a>
            <ul id="forms-collapse" class="panel-collapse collapse">
                <li><a href="/budget/fact/">Операции</a></li>
                <li><a href="/budget/plan/">Бюджет</a></li>
                <li><a href="/budget/goals/">Цели</a></li>
                <li><a href="/budget/statistics/">Статистика</a></li>
                <li><a href="/budget/calendar/">Календарь</a></li>
            </ul>
        </li>
        <li class="panel">
            <a class="accordion-toggle collapsed" data-toggle="collapse"
               data-parent="#side-nav" href="index.html#settings-collapse"><i class="fa fa-cog"></i> <span class="name">Настройки</span></a>
            <ul id="settings-collapse" class="panel-collapse collapse">
                <li><a href="/settings/references/">Справочники</a></li>
            </ul>
        </li>

        <li class="panel">
            <a href="/logout/"><i class="fa fa-sign-out"></i> <span class="name">Выход</span></a>
        </li>
    </ul>
</nav>