<section class="widget">
    <header>
        <h4>
            <i class="fa fa-file-alt"></i>

        </h4>
        <div class="actions hidden-xs-portrait">
            <input id="search" type="search" placeholder="Enter country">
        </div>
    </header>
    <div class="body">
        <blockquote>
            Editable, validatable, filterable and sortable table made with
            <a href="http://backgridjs.com/" target="_blank">Backgrid.js</a>
        </blockquote>
        <div id="table-dynamic">

        </div>
        <div>
            <button class="btn btn-warning">
                <i class="fa fa-plus"></i>
                Add new
            </button>
            <button class="btn btn-inverse">
                <i class="fa fa-refresh"></i>
                Refresh
            </button>
            <button class="btn btn-inverse">
                <i class="fa fa-exchange"></i>
                Test connection
            </button>
        </div>
    </div>
</section>