<section class="widget">
    <header>
        <h4>
            <i class="fa fa-file-alt"></i>

        </h4>
        <div class="actions hidden-xs-portrait">
            <input id="search" type="search" placeholder="Enter country">
        </div>
    </header>
    <div class="body">

        <div id="table-dynamic">

        </div>

    </div>
</section>

<script src="/static/lib/backbone/underscore-min.js"></script>
<script src="/static/lib/backbone/backbone-min.js"></script>
<script src="/static/lib/backbone/backbone-pageable.js"></script>
<script src="/static/lib/backgrid/backgrid.js"></script>
<script src="/static/lib/backgrid/backgrid-paginator.js"></script>
<script src="/static/js/weasel/data-grid-backgrid.js"></script>



        <script>
        $(document).ready(function(){
            dg = new dataGrid("{{ url }}");
            dg.DataGrid();
        });
        </script>
