<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <meta http-equiv="cache-control" content="no-cache, must-revalidate" />
    <title>Weasel</title>
    <link href="/templates/static/css/application.min.css" rel="stylesheet">
    <link href="/templates/static/css/weasel.css" rel="stylesheet">
</head>

<body>
        <section class="widget">
            <div class="jumbotron">
                <div class="container">
                    <h1 id="extra-large-error-code">500</h1>
                    <p class="lead"><em>Internal server error</em></p>
                    <p>
                        {{ Error }}
                    </p>
                </div>
            </div>
        </section>
</body>
</html>