{% extends "../blank.html" %}

{% block breadcrumbs %}
        Настройки > Организации
{% endblock %}

{% block title %}

        Организации

{% endblock %}

{% block content %}

<header>
    <h4>
        <i class="fa fa-file-alt"></i>
    </h4>

    <section class="widget">
        <div class="btn-group">
            <a href="/settings/organizations/edit/{{ 0|EncryptURL }}/" class="btn btn-primary">Добавить организацию</a>
        </div>

    </section>

</header>

{% include "../../include/layout/table.html" with url=gridURL %}

{% endblock %}