<!DOCTYPE html>
<html>
<head>
    <title>Weasel</title>
    <link href="/static/css/application.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
</head>
<body class="background-dark">
<div class="logo">
    <h4><a href="/"><strong>Weasel</strong></a></h4>
</div>
<nav id="sidebar" class="sidebar nav-collapse collapse">
    <ul id="side-nav" class="side-nav">
        <li class="active">
            <a href="/"><i class="fa fa-home"></i> <span class="name">Главная</span></a>
        </li>
        <li class="panel">
            <a class="accordion-toggle collapsed" data-toggle="collapse"
               data-parent="#side-nav" href="index.html#forms-collapse"><i class="fa fa-bar-chart-o"></i> <span class="name">Бюджет</span></a>
            <ul id="forms-collapse" class="panel-collapse collapse">
                <li><a href="/budget/incomes/">Доходы</a></li>
                <li><a href="/budget/outcomes/">Расходы</a></li>
                <li><a href="/budget/payments/">Платежи</a></li>
                <li><a href="/budget/goals/">Цели</a></li>
            </ul>
        </li>
        <li class="panel">
            <a class="accordion-toggle collapsed" data-toggle="collapse"
               data-parent="#side-nav" href="index.html#settings-collapse"><i class="fa fa-cog"></i> <span class="name">Настройки</span></a>
            <ul id="settings-collapse" class="panel-collapse collapse">
                <li><a href="/settings/users/">Пользователи</a></li>
                <li><a href="/settings/organizations/">Организации</a></li>
                <li><a href="/settings/references/">Справочники</a></li>
                <li><a href="/settings/projects">Проекты</a></li>
            </ul>
        </li>

        <li class="panel">
            <a href="/login/"><i class="fa fa-sign-out"></i> <span class="name">Выход</span></a>
        </li>
    </ul>

</nav>
<div class="wrap">
<header class="page-header">
    <div class="navbar">
        <ul class="nav navbar-nav navbar-right pull-right">
            <li class="visible-phone-landscape">
                <a href="index.html#" id="search-toggle">
                    <i class="fa fa-search"></i>
                </a>
            </li>
            <li class="dropdown">
                <a href="index.html#" title="Messages" id="messages"
                   class="dropdown-toggle"
                   data-toggle="dropdown">
                    <i class="fa fa-comments"></i>
                </a>
                <ul id="messages-menu" class="dropdown-menu messages" role="menu">
                    <li role="presentation">
                        <a href="index.html#" class="message">
                            <img src="img/1.jpg" alt="">
                            <div class="details">
                                <div class="sender">Jane Hew</div>
                                <div class="text">
                                    Hey, John! How is it going? ...
                                </div>
                            </div>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="index.html#" class="message">
                            <img src="img/2.jpg" alt="">
                            <div class="details">
                                <div class="sender">Alies Rumiancaŭ</div>
                                <div class="text">
                                    I'll definitely buy this template
                                </div>
                            </div>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="index.html#" class="message">
                            <img src="img/3.jpg" alt="">
                            <div class="details">
                                <div class="sender">Michał Rumiancaŭ</div>
                                <div class="text">
                                    Is it really Lore ipsum? Lore ...
                                </div>
                            </div>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="index.html#" class="text-align-center see-all">
                            See all messages <i class="fa fa-arrow-right"></i>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="index.html#" title="8 support tickets"
                   class="dropdown-toggle"
                   data-toggle="dropdown">
                    <i class="fa fa-group"></i>
                    <span class="count">8</span>
                </a>
                <ul id="support-menu" class="dropdown-menu support" role="menu">
                    <li role="presentation">
                        <a href="index.html#" class="support-ticket">
                            <div class="picture">
                                <span class="label label-important"><i class="fa fa-bell-o"></i></span>
                            </div>
                            <div class="details">
                                Check out this awesome ticket
                            </div>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="index.html#" class="support-ticket">
                            <div class="picture">
                                <span class="label label-warning"><i class="fa fa-question-circle"></i></span>
                            </div>
                            <div class="details">
                                "What is the best way to get ...
                            </div>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="index.html#" class="support-ticket">
                            <div class="picture">
                                <span class="label label-success"><i class="fa fa-tag"></i></span>
                            </div>
                            <div class="details">
                                This is just a simple notification
                            </div>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="index.html#" class="support-ticket">
                            <div class="picture">
                                <span class="label label-info"><i class="fa fa-info-circle"></i></span>
                            </div>
                            <div class="details">
                                12 new orders has arrived today
                            </div>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="index.html#" class="support-ticket">
                            <div class="picture">
                                <span class="label label-important"><i class="fa fa-plus"></i></span>
                            </div>
                            <div class="details">
                                One more thing that just happened
                            </div>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="index.html#" class="text-align-center see-all">
                            See all tickets <i class="fa fa-arrow-right"></i>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="divider"></li>
            <li class="hidden-xs">
                <a href="index.html#" id="settings"
                   title="Settings"
                   data-toggle="popover"
                   data-placement="bottom">
                    <i class="fa fa-cog"></i>
                </a>
            </li>
            <li class="hidden-xs dropdown">
                <a href="index.html#" title="Account" id="account"
                   class="dropdown-toggle"
                   data-toggle="dropdown">
                    <i class="fa fa-user"></i>
                </a>
                <ul id="account-menu" class="dropdown-menu account" role="menu">
                    <li role="presentation" class="account-picture">
                        <img src="img/2.jpg" alt="">
                        Philip Daineka
                    </li>
                    <li role="presentation">
                        <a href="form_account.html" class="link">
                            <i class="fa fa-user"></i>
                            Profile
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="component_calendar.html" class="link">
                            <i class="fa fa-calendar"></i>
                            Calendar
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="index.html#" class="link">
                            <i class="fa fa-inbox"></i>
                            Inbox
                        </a>
                    </li>
                </ul>
            </li>
            <li class="visible-xs">
                <a href="index.html#"
                   class="btn-navbar"
                   data-toggle="collapse"
                   data-target=".sidebar"
                   title="">
                    <i class="fa fa-bars"></i>
                </a>
            </li>
            <li class="hidden-xs"><a href="login.html"><i class="fa fa-sign-out"></i></a></li>
        </ul>
        <form id="search-form" class="navbar-form pull-right" role="search">
            <input type="search" class="search-query" placeholder="Search...">
        </form>
        <div class="notifications pull-right">
            <div class="alert pull-right">
                <a href="index.html#" class="close" data-dismiss="alert">&times;</a>
                <i class="fa fa-info-circle"></i> <a id="notification-link" href="index.html#">Настройки</a>  интерфейса
            </div>
        </div>
    </div>
</header>

<div class="content container">
    <div class="row hidden-print">
        <div class="col-md-12">
            <h2 class="page-title">Invoice <small>Print optimized page</small></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <section class="widget">
                <div class="body no-margin">
                    <div class="row">
                        <div class="col-sm-6 col-print-6">
                            <img src="img/logo.png" alt="Logo" class="invoice-logo"/>
                        </div>
                        <div class="col-sm-6 col-print-6">
                            <div class="invoice-number text-align-right">
                                #4346345 / 14 Aug 2013
                            </div>
                            <div class="invoice-number-info text-align-right">
                                Some Invoice number description or whatever
                            </div>
                        </div>
                    </div>
                    <hr>
                    <section class="invoice-info well">
                        <div class="row">
                            <div class="col-sm-6 col-print-6">
                                <h4 class="details-title">Company Information</h4>
                                <h3 class="company-name">
                                    Wrapbootstrap LLC
                                </h3>
                                <address>
                                    <strong>2 Infinite Loop</strong><br>
                                    Minsk, Belarus 220004<br>
                                    088.253.5345<br>
                                    <abbr title="Work email">e-mail:</abbr> <a href="mailto:#">email@example.com</a><br>
                                    <abbr title="Work Phone">phone:</abbr> (012) 345-678-901<br>
                                    <abbr title="Work Fax">fax:</abbr> (012) 678-132-901
                                </address>
                            </div>
                            <div class="col-sm-6 col-print-6 client-details">
                                <h4 class="details-title">Client Information</h4>
                                <h3 class="client-name">
                                    Veronica Niasvizhskaja
                                </h3>
                                <address>
                                    <strong>Consultant</strong> at
                                    <strong><a href="special_invoice.html#">Allspana</a></strong><br>
                                    <abbr title="Work email">e-mail:</abbr> <a href="mailto:#">maryna@allspana.by</a><br>
                                    <abbr title="Work Phone">phone:</abbr> (012) 345-678-901<br>
                                    <abbr title="Work Fax">fax:</abbr> (012) 678-132-901
                                    <div class="separator line"></div>
                                    <p class="margin-none"><strong>Note:</strong><br>Some nights I stay up cashing in my bad luck.
                                        Some nights I call it a draw</p>
                                </address>
                            </div>
                        </div>
                    </section>
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Item</th>
                            <th class="hidden-xs">Description</th>
                            <th>Quantity</th>
                            <th class="hidden-xs">Price per Unit</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>Brand-new 27' monitor</td>
                            <td class="hidden-xs">2,560x1,440-pixel (WQHD) resolution supported!</td>
                            <td>2</td>
                            <td class="hidden-xs">700</td>
                            <td>1,400.00</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Domain: okendoken.com</td>
                            <td class="hidden-xs">6-month registration</td>
                            <td>1</td>
                            <td class="hidden-xs">10.99</td>
                            <td>21.88</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Atlas Shrugged</td>
                            <td class="hidden-xs">Novel by Ayn Rand, first published in 1957 in the United States</td>
                            <td>5</td>
                            <td class="hidden-xs">35</td>
                            <td>175.00</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>New Song by Dr. Pre</td>
                            <td class="hidden-xs">Lyrics: praesent blandit augue non sapien ornare imperdiet</td>
                            <td>1</td>
                            <td class="hidden-xs">2</td>
                            <td>2.00</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-6 col-print-6">
                            <blockquote>
                                <strong>Note:</strong> Keep in mind, sometimes bad things happen. But it's just sometimes.
                            </blockquote>
                        </div>
                        <div class="col-sm-6 col-print-6">
                            <div class="row text-align-right">
                                <div class="col-xs-6"></div> <!-- instead of offset -->
                                <div class="col-xs-3">
                                    <p>Subtotal</p>
                                    <p>Tax(10%)</p>
                                    <p class="no-margin"><strong>Total</strong></p>
                                </div>
                                <div class="col-xs-3">
                                    <p>1,598.88</p>
                                    <p>159.89</p>
                                    <p class="no-margin"><strong>1,758.77</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="invoice-actions text-align-right hidden-print">
                        <button id="print" class="btn btn-inverse">
                            <i class="fa fa-print"></i>
                            &nbsp;&nbsp;
                            Print
                        </button>
                        <button class="btn btn-danger">
                            <i class="fa fa-arrow-right"></i>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            Proceed with Payment
                        </button>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<div class="loader-wrap hiding hide">
    <i class="fa fa-spinner fa-spin"></i>
</div>
<div class="loader-wrap hiding hide">
    <i class="fa fa-spinner fa-spin"></i>
</div>
</div>

<!-- jquery and friends -->
<script src="/static/lib/jquery/jquery-2.0.3.min.js"> </script>
<script src="/static/lib/jquery-pjax/jquery.pjax.js"></script>


<!-- jquery plugins -->
<script src="/static/lib/icheck.js/jquery.icheck.js"></script>
<script src="/static/lib/sparkline/jquery.sparkline.js"></script>
<script src="/static/lib/jquery-ui-1.10.3.custom.js"></script>
<script src="/static/lib/jquery.slimscroll.js"></script>

<!-- d3, nvd3-->
<script src="/static/lib/nvd3/lib/d3.v2.js"></script>
<script src="/static/lib/nvd3/nv.d3.custom.js"></script>

<!-- nvd3 models -->
<script src="/static/lib/nvd3/src/models/scatter.js"></script>
<script src="/static/lib/nvd3/src/models/axis.js"></script>
<script src="/static/lib/nvd3/src/models/legend.js"></script>
<script src="/static/lib/nvd3/src/models/multiBar.js"></script>
<script src="/static/lib/nvd3/src/models/multiBarChart.js"></script>
<script src="/static/lib/nvd3/src/models/line.js"></script>
<script src="/static/lib/nvd3/src/models/lineChart.js"></script>
<script src="/static/lib/nvd3/stream_layers.js"></script>

<!--backbone and friends -->
<script src="/static/lib/backbone/underscore-min.js"></script>
<script src="/static/lib/backbone/backbone-min.js"></script>
<script src="/static/lib/backbone/backbone.localStorage-min.js"></script>

<!-- bootstrap default plugins -->
<script src="/static/lib/bootstrap/transition.js"></script>
<script src="/static/lib/bootstrap/collapse.js"></script>
<script src="/static/lib/bootstrap/alert.js"></script>
<script src="/static/lib/bootstrap/tooltip.js"></script>
<script src="/static/lib/bootstrap/popover.js"></script>
<script src="/static/lib/bootstrap/button.js"></script>
<script src="/static/lib/bootstrap/tab.js"> </script>
<script src="/static/lib/bootstrap/dropdown.js"></script>

<!-- basic application js-->
<script src="/static/js/app.js"></script>
<script src="/static/js/settings.js"></script>

<!-- page specific -->
<script src="/static/js/index.js"></script>
<script src="/static/js/chat.js"></script>

<script type="text/template" id="message-template">
    <div class="sender pull-left">
        <div class="icon">
            <img src="img/2.jpg" class="img-circle" alt="">
        </div>
        <div class="time">
            just now
        </div>
    </div>
    <div class="chat-message-body">
        <span class="arrow"></span>
        <div class="sender">Tikhon Laninga</div>
        <div class="text">
            <%- text %>
        </div>
    </div>
</script>

<script type="text/template" id="settings-template">
    <div class="setting clearfix">
        <div>Фон</div>
        <div id="background-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
            <% dark = background == 'темный'; light = background == 'светлый';%>
            <button type="button" data-value="dark" class="btn btn-sm btn-transparent <%= dark? 'active' : '' %>">Темный</button>
            <button type="button" data-value="light" class="btn btn-sm btn-transparent <%= light? 'active' : '' %>">Светлый</button>
        </div>
    </div>
    <div class="setting clearfix">
        <div>Меню</div>
        <div id="sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
            <% onRight = sidebar == 'справа'%>
            <button type="button" data-value="left" class="btn btn-sm btn-transparent <%= onRight? '' : 'active' %>">Слева</button>
            <button type="button" data-value="right" class="btn btn-sm btn-transparent <%= onRight? 'active' : '' %>">Справа</button>
        </div>
    </div>
    <div class="setting clearfix">
        <div>Скрыть меню</div>
        <div id="display-sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
            <% display = displaySidebar%>
            <button type="button" data-value="true" class="btn btn-sm btn-transparent <%= display? 'active' : '' %>">Показать</button>
            <button type="button" data-value="false" class="btn btn-sm btn-transparent <%= display? '' : 'active' %>">Скрыть</button>
        </div>
    </div>
</script>

<!-- templates -->

<script type="text/template" id="sidebar-settings-template">
    <% auto = sidebarState == 'auto'%>
    <% if (auto) {%>
    <button type="button"
            data-value="icons"
            class="btn-icons btn btn-transparent btn-sm">Icons</button>
    <button type="button"
            data-value="auto"
            class="btn-auto btn btn-transparent btn-sm">Auto</button>
    <%} else {%>
    <button type="button"
            data-value="auto"
            class="btn btn-transparent btn-sm">Auto</button>
    <% } %>
</script>



</body>
</html>