<!DOCTYPE html>
<html>
<head lang="ru">
    <meta http-equiv="cache-control" content="no-cache, must-revalidate" />
    <title>Weasel</title>
    <link href="/templates/static/css/application.min.css" rel="stylesheet">
    <link href="/templates/static/css/weasel.css" rel="stylesheet">

    <script src="/templates/static/lib/jquery/jquery-2.0.3.min.js"> </script>

    <script src="/templates/static/lib/bootstrap/transition.js"></script>
    <script src="/templates/static/lib/bootstrap/collapse.js"></script>
    <script src="/templates/static/lib/bootstrap/alert.js"></script>
    <script src="/templates/static/lib/bootstrap/tooltip.js"></script>
    <script src="/templates/static/lib/bootstrap/popover.js"></script>
    <script src="/templates/static/lib/bootstrap/button.js"></script>
    <script src="/templates/static/lib/bootstrap/tab.js"> </script>
    <script src="/templates/static/lib/bootstrap/dropdown.js"></script>
    <script src="/templates/static/lib/bootstrap/modal.js"></script>
    <script src="/templates/static/lib/bootstrap-datepicker.js"></script>
    <script src="/templates/static/lib/bootstrap-select/bootstrap-select.js"></script>

    <script src="/templates/static/js/settings.js"> </script>

    <script src="/templates/static/js/weasel/form.js"> </script>
    <script src="/templates/static/js/weasel/weasel.js"> </script>
    <script src="/templates/static/js/weasel/weasel_app.js"> </script>


    <meta charset="utf-8">
</head>

<body>
<div class="logo">
    <h4><a href="/"><strong>Weasel</strong></a></h4>
</div>

    {% include "include/sidebar.html" %}


<div class="wrap">
    <header class="page-header">
        <div class="navbar">
            <ul class="nav navbar-nav navbar-right pull-right">
                <li class="hidden-xs dropdown">
                    <a href="#" title="Account" id="account"
                       class="dropdown-toggle"
                       data-toggle="dropdown">
                        <i class="fa fa-user"></i>
                    </a>
                    {% if currentUser.UserID %}
                        <ul id="account-menu" class="dropdown-menu account" role="menu">
                            <li role="presentation" class="account-picture">
                                {{ currentUser.UserFirstName }} {{ currentUser.UserLastName }}
                            </li>
                            <li role="presentation">
                                <a href="/personal/settings/" class="link jsForm">
                                    <i class="fa fa-user"></i>
                                    Профиль
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="/budget/calendar/" class="link">
                                    <i class="fa fa-calendar"></i>
                                    Календарь
                                </a>
                            </li>
                        </ul>
                    {% else %}
                        <ul id="account-menu" class="dropdown-menu account" role="menu">
                            <li role="presentation" class="account-picture">
                                <a href="/login/">Вход в систему</a>
                            </li>
                        </ul>
                    {% endif %}

                </li>
                <li class="visible-xs">
                    <a href="#"
                       class="btn-navbar"
                       data-toggle="collapse"
                       data-target=".sidebar"
                       title="">
                        <i class="fa fa-bars"></i>
                    </a>
                </li>
                <li class="hidden-xs"><a href="/logout/"><i class="fa fa-sign-out"></i></a></li>
            </ul>
            <h4>{% block breadcrumbs %} {% endblock %}</h4>
        </div>
    </header>
    <div class="content container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-title">
                    {% block title %} {% endblock %}
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <section class="widget">
                        {% block content %} {% endblock %}
                </section>
            </div>
        </div>
    </div>
</div>


<!-- templates -->

<script type="text/template" id="error-template">

        <h4 class="text-danger"><i class="fa fa-ban"></i> <strong>Случилось что-то не то!</strong></h4>
        <p class="message-container"></p>

</script>


<div id="simpleModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div id="formModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" method="POST">
                <div class="modal-body form-horizontal">

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Сохранить</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div id="messageModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="alert">

        </div>
    </div>
</div>

</body>
</html>