{% extends "../blank.html" %}

{% block breadcrumbs %}
        Бюджет > Операции
{% endblock %}

{% block title %}

        Операции

{% endblock %}

{% block content %}

<header>
    <h4>
        <i class="fa fa-file-alt"></i>
    </h4>

    <section class="widget">
        <div class="btn-group">
            <a href="/budget/fact/edit/{{ 0|EncryptURL }}/" class="jsForm btn btn-primary">Добавить фактическую операцию</a>
        </div>

    </section>

</header>

{% include "../../include/layout/table.html" with url=gridURL %}

{% endblock %}