{% extends "../blank.html" %}

{% block breadcrumbs %}
<a href="/">Главная</a> > Рабочий стол
{% endblock %}

{% block title %}

Рабочий стол

{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-4">
        <section class="widget normal">
            <header>
                <h4>
                    <i class="fa fa-arrow-right"></i>
                    Progressbars
                </h4>
            </header>
            <div class="body">
                <h5 class="no-margin weight-normal">Simple one</h5>
                <div class="progress">
                    <div class="progress-bar" style="width: 60%;"></div>
                </div>
                <h5 class="no-margin weight-normal">Styled ones</h5>
                <div class="progress">
                    <div class="progress-bar progress-bar-inverse" style="width: 33%;"></div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-warning" style="width: 52%;"></div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-danger" style="width: 43%;"></div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-4">
        <section class="widget normal">
            <header>
                <h4>
                    <i class="fa fa-caret-right"></i>
                    Small ones
                </h4>
            </header>
            <div class="body">
                <h5 class="no-margin weight-normal">Colors</h5>
                <div class="progress progress-small">
                    <div class="progress-bar progress-bar-inverse" style="width: 23%;"></div>
                </div>
                <div class="progress progress-small">
                    <div class="progress-bar progress-bar-warning" style="width: 76%;"></div>
                </div>
                <div class="progress progress-small">
                    <div class="progress-bar progress-bar-success" style="width: 43%;"></div>
                </div>
                <div class="progress progress-small">
                    <div class="progress-bar progress-bar-danger" style="width: 53%;"></div>
                </div>
                <h5 class="no-margin weight-normal">Default progressbar</h5>
                <div class="progress progress-small">
                    <div class="progress-bar" style="width: 60%;"></div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-4">
        <section class="widget normal">
            <header>
                <h4>
                    <i class="fa fa-angle-right"></i>
                    Some extensions
                </h4>
            </header>
            <div class="body">
                <h5 class="no-margin weight-normal">With embedded percentage</h5>
                <div class="progress">
                    <div class="progress-bar" style="width: 79%;">79%</div>
                </div>
                <h5 class="no-margin weight-normal">Active one</h5>
                <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-warning" style="width: 51%;">51%</div>
                </div>
                <h5 class="no-margin weight-normal">Inversed progress-bar</h5>
                <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-inverse" style="width: 64%;">64%</div>
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %}